<header class="header" id="header">
  <div class="container">
    <nav class="navbar">
      <a class="logo link" href="">
        <span class="simply">SIMPLY</span>
        <span class="chocolate">CHOCOLATE</span>
        <svg class="logo-icon">
          <use href="/img/icons.svg#hero-logo"></use>
        </svg>
      </a>

      <button class="menu-hamburger js-open-menu" type="button">
        <svg class="icon-menu-burger">
          <use href="/img/icons.svg#hero-burger"></use>
        </svg>
      </button>

      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="#header" class="nav-link link">Home</a>
        </li>

        <li class="header-nav-item">
          <a href="#how-its-made" class="nav-link link">How it’s made?</a>
        </li>

        <li class="header-nav-item">
          <a href="#our-products" class="nav-link link">Our products</a>
        </li>

        <li class="header-nav-item">
          <a href="#top-sellers" class="nav-link link">Top sellers</a>
        </li>

        <li class="header-nav-item">
          <a href="#chocolate-is-loved" class="nav-link link"
            >Chocolate is loved</a
          >
        </li>
      </ul>

      <ul class="header-networks-list">
        <li class="header-networks-item">
          <a href="https://www.instagram.com/" target="_blank">
            <svg class="header-networks-icon">
              <use href="/img/icons.svg#hero-inst-tabdesk"></use>
            </svg>
          </a>
        </li>

        <li class="header-networks-item">
          <a href="https://twitter.com/" target="_blank">
            <svg class="header-networks-icon">
              <use href="/img/icons.svg#hero-twit-tabdesk"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="mobile-menu js-menu-container">
    <button class="mobile-modal-close js-close-menu" type="button">
      <svg class="mobile-close-icon">
        <use href="/img/icons.svg#hero-close" class="icon-link"></use>
      </svg>
    </button>

    <div class="mobile-menu-items">
      <nav>
        <ul class="mobile-site-nav">
          <li class="header-nav-item current">
            <a href="#header" class="mobile-nav-link current-link"
              ><span class="mobile-span">Home</span></a
            >
          </li>
          <li class="header-nav-item">
            <a href="#how-its-made" class="mobile-nav-link current-link"
              ><span class="mobile-span">How it’s made?</span></a
            >
          </li>
          <li class="header-nav-item">
            <a href="#top-sellers" class="mobile-nav-link link current-link"
              ><span class="mobile-span">Top sellers</span></a
            >
          </li>
          <li class="header-nav-item">
            <a href="#our-products" class="mobile-nav-link current-link"
              ><span class="mobile-span">Our products</span></a
            >
          </li>
          <li class="header-nav-item">
            <a href="#chocolate-is-loved" class="mobile-nav-link current-link"
              ><span class="mobile-span">Chocolate is loved</span></a
            >
          </li>
        </ul>
      </nav>

      <div class="mobile-socials mobile-socials-container">
        <ul class="mobile-socials-list">
          <li class="mobile-socials-item">
            <a
              class="mobile-socials-link"
              href="https://www.instagram.com/"
              target="_blank"
            >
              <svg class="mobile-socials-icon">
                <use href="/img/icons.svg#icon-instagram-mob"></use>
              </svg>
            </a>
          </li>

          <li class="mobile-socials-item">
            <a
              class="mobile-socials-link"
              href="https://twitter.com/"
              target="_blank"
            >
              <svg class="mobile-socials-icon">
                <use href="/img/icons.svg#icon-twitter-mob"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
